
.cine {
    color: black;
   
    padding: 5px;
    margin-left: 10px;
    height: 50px;
    width: 150px;
    font-size: 2rem;
    
    
}



.navbar {
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0; 
    display: flex;
    align-items: center;
}


body {
    background: black;
    background: url(./img/movie.jpg) top center no-repeat;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.signin-container {
    position: fixed;
    left: 10%;
    top: 30%;
    right: 50%;
    bottom: 50%;



}

.formulario-registro {

    position: absolute;
    left: 50%;
    top: 50%;
    right: 50%;
    bottom: 50%;   

}

#email , #password{
    padding: 5px;
   
}



.film {
    display: flex;
    justify-content: center;
}

img {
    border-style: groove;
    border-color: beige;
    max-width: 80%;
}

.btn {
    border-style:  double solid;
    padding: 10px;
    width: 70px;
    height: px
}

a {
    color: white;
    text-decoration: none;
    border:  1rem;
    text-shadow: 
    1px 1px 1px rgba(17, 17, 17, 0.35),
    -1px 1px 1px rgba(17, 17, 17, 0.35),
    1px -1px 1px rgba(17, 17, 17, 0.35),
    -1px -1px 1px rgba(17, 17, 17, 0.35);
}


@media all and (min-width: 768px) {
    .cine .signin-container {
        text-align: center;
    }
}