

body {
    background-color: black;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
    position: relative;
    margin-top: 6.25rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-bottom: 6.25rem;
    height: 70vh;
}




    










