.film {
    width: 250px;
    position: relative;
    z-index: 10;
    height: 250px;
    bottom:0;
  }

.text {
    max-height: 90%;
    max-width: 90%

}

.svg {
    width: 10%;
    border-color: beige;
    position: relative;
    
  }
  
.like {
    position: absolute;
    top:0;
    bottom:0;
  
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
color: white;
width: 100%; 
}