.bloque-peliculas {

    margin-top: 50px;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-bottom: 2rem;

    }
  
.main-peliculas {
    display: flex;
    justify-content: center;
}

.section {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

h1 {
    color: white;
    width: 100%; 
}




* {
font-family: Arial, Helvetica, sans-serif;
}

.unbreakable-title,
.score,
.unbreakable-date {
font-size: small;
font-weight: bold;
}

.unbreakable-sinopsis,
.unbreakable-title {
color: whitesmoke;
font-variant: small-caps;
font-size: small;
text-shadow: 
1px 1px 1px rgba(17, 17, 17, 0.35),
-1px 1px 1px rgba(17, 17, 17, 0.35),
1px -1px 1px rgba(17, 17, 17, 0.35),
-1px -1px 1px rgba(17, 17, 17, 0.35);
max-width: 75%;
}



.film {
width: 250px;
position: relative;
z-index: 10;
bottom:0;


}

.text {
max-height: 90%;
max-width: 100%;

}
.unbreakable-text {
display: none;
position: absolute;
top: 25px;
bottom: 0;
z-index: 15;
background-color: rgba(0,0,0, .50);
color: white;

}

.film:hover .unbreakable-text{
display: flex;
justify-content: center;
align-items: center;
max-width: 80%;
}

.svg {
width: 10%;

position: relative;

}

.like {
position: absolute;
top:0;
bottom:0;

}