.film {
    width: 250px;
    position: relative;
    z-index: 10;
    height: 300px;
    bottom:0;
    
  }

.text {
    max-height: 90%;
    max-width: 90%;


}

.svg {

    width: 10%;
    position: relative;
    max-height: 10%;
    max-width: 10%;
    color:beige;
    
    
  }


.img-film > img {
  border-style: solid;
  border-color: beige;
  max-width: 80%;

}



.like {
    position: absolute;
    top: -10px;
    right: 55px;
    bottom:0;

  
}

* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

h1 {
color: rgb(182, 170, 170);
width: 100%; 
}