.bloque-novedades {
  margin-top: 90px;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-bottom: 2rem;
    
}

.main-novedades {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

}

.section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 2rem;
}

h1 {
  color: white;
  width: 100%; 
}



* {
  font-family: Arial, Helvetica, sans-serif;
}

.luca-title,
.score,
.film-date {
  font-size: small;
  font-weight: bold;
}

.film-sinopsis,
.luca-title {
  color: whitesmoke;
  font-variant: small-caps;
  font-size: small;
  text-shadow: 
  1px 1px 1px rgba(17, 17, 17, 0.35),
  -1px 1px 1px rgba(17, 17, 17, 0.35),
  1px -1px 1px rgba(17, 17, 17, 0.35),
  -1px -1px 1px rgba(17, 17, 17, 0.35);
}


.film {
  width: 250px;
  position: relative;
  z-index: 10;
  height: 250px;
  bottom:0;
   
}

.img-luca1{
  position: relative;
  
}

.svg {
  width: 10%;
  height: 1%;
  position: relative;
  
}

.like {
  position: relative;
  top:0;
  bottom:0;

}

.text {
  max-height: 90%;
  max-width: 90%

}
.luca-text {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 15;
  background-color: rgba(0,0,0, .50);
  color: white;
  width: 250px;
  
}

.film:hover .luca-text{
  display: flex;
  justify-content: center;
  align-items: center;

}


@media all and (min-width:425px) {
  .luca-text{
    z-index: inherit;
  }
}