.grid-container {
    margin-top: 85px;
    display: grid;
    grid-template-columns: 400px 200px 100px;
    grid-gap: 10px;
    justify-content: stretch;
    padding: 10px;

}  
.sinopsis {
    display: grid;
    grid-column: 1 / span 3;
    grid-row: 1;
    font-size: 1rem;
    color:black;
    margin: 0;
  }
  
.video {
    grid-column: 1;
    grid-row: 2 / span 2;
  }
  
.actor1 {
  grid-column: 1;
  grid-row:2;
}
.actor1 {
  grid-column: 2;
  grid-row:2;
}
.actor1 {
  grid-column: 1;
  grid-row:3;
}

.actor4 {
  grid-column: 2;
  grid-row:3;
}


.contenido-relacinado {
    display: flex;
    justify-content: center;
    align-items: row;
    margin-top: 2rem;

    
}

.img ,
.actor1 , .actor2 , .actor3, .actor4{
    width: 250px;
    height: 350px;

}

.pelis {
    display: flex;
    justify-content:space-evenly;


}

.contenido-relacionado > h1 {

    color: white;
    text-align: center;
    padding: 5px;
    max-width:100%;
  
}







