.grid-container {
    margin-top: 85px;
    display: grid;
    grid-gap: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
  }
  
.sinopsis {
    grid-column: 1 / span 2;
    grid-row: 1;
    font-size: 1rem;
    color:black;
    margin: 0;
  }
  
.video {
    grid-column: 3;
    grid-row: 2 / span 2;
  }
  
  

.contenido-relacinado {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: row;
    margin-top: 2rem;
    
}

.img ,
.actor1 {
    width: 250px;
    height: 350px;

}

.pelis {
    display: flex;
    justify-content:space-evenly;
    background-color: black;

}

.contenido-relacionado > h1 {
    background-color: black;
    color: white;
    text-align: center;
  
}







