body {
    background-color: black;
}

.navbar {
    position: fixed;
    background-color: black;
    width: 100%;
    height: 15%;
    top: 0;
    left: 0; 
    display: flex;
    align-items: center;
    z-index: 99;
    

}


.burger-label {
    position: absolute;
    top: .3rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    z-index: 3;
}

.burger-label::before {
    content: "";
    background-color: white;
    width: 2rem;
    height: .2rem;
    position: absolute;
    left: .1rem;
    top: .5rem;
    box-shadow: 0 .45rem 0 0 white, 0 .9rem 0 0 white;
  
}

.navbar-list {
    list-style-type: none;
    display: none;
    flex-direction: column;
    height: 100vh;
    padding-right: 0;
    width: 80%;
    max-width: 280px;
    margin-top: 60px;

    }

#burger-checkbox {
    display:none;
    z-index: 3;
    position: absolute;
    top: 1.5rem;
    left: 0.5rem;
    width: 2rem;
    height: 2rem;
    opacity: 0;

}

#burger-checkbox:checked ~ .navbar-list {
    list-style: none;
    padding: 5px;
    display: flex;     
    flex-direction: column;
    justify-content: space-evenly;
    height: 70vh;
    background-color: rgb(22, 21, 22);
    opacity: .85;
    margin-top: 350px;


}

.navbar-item a {
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 1rem;
    line-height: .1rem;
    padding: .1rem;

}


.search-logout {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 5px;

}

.btn {
    padding: 5px;
    margin-top: 0;
    line-height: 8px;
    
}

.search{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 20px;
}

.cine {
    color: whitesmoke;   
    padding: 5px;
    margin-left: 10px;
    height: 50px;
    width: 150px;
    font-size: small;
      
}


@media (min-width: 576px){

}
@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .burger-label {
        display: none;
    }

    .navbar {
        display: flex;
    }

    .navbar-list {
        flex: 1 0;
        height: 15%;
        max-width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background: transparent;
        z-index: 10;

    }

    
}

@media (min-width: 1200px) {
}





