
@media  (max-width: 576px) {
    .grid-container,
    .sinopsis ,
    
    .video {
        grid-column: 1;
        grid-row: 2;

    }
  
    .navbar-list {
        display: none;
    }

    .pelis{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 1rem;

    }


}   

